backend:
  name: git-gateway
  branch: main

media_folder: "images"
public_folder: "/images"

collections:
  - name: "events"
    label: "Events"
    folder: "content/events"
    create: true
    fields:
      - { label: "Event Name", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "string" }
      - { label: "Description", name: "body", widget: "text" }
