backend:
  name: git-gateway
  branch: main

media_folder: "images"
public_folder: "/images"

collections:
  - name: "site"
    label: "Site Content"
    files:
      - label: "Homepage"
        name: "home"
        file: "content/home.json"
        format: "json"
        fields:
          - { label: "Headline", name: "headline", widget: "string" }
          - { label: "About", name: "about", widget: "text" }
